<h1>New reddit</h1>

<%= form_for :reddit, url: reddits_path do |f| %>
  <% if @reddit.errors.any? %>
    <%= pluralize(@reddit.errors.count, 'error') %> on page
    <% @reddit.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit %>
  </p>


<% end %>
<%= link_to 'Back', reddits_path %>
