<h1><%= @reddit.title %></h1>
<p>
  <%= button_to 'upvote', vote_reddit_path(@reddit, data: :upvote) %>
  <%= @reddit.votes.count %>
  <%= button_to 'downvote', vote_reddit_path(@reddit, data: :downvote) %>
</p>

<% if can? :create, @reddit.posts %>
  <p>
    New post <br>
    <%= link_to 'Create post', new_reddit_post_path(@reddit) %>
  </p>
<% end %>

<% @reddit.posts.each do |p| %>
  <p>
    <%= button_to 'upvote', vote_post_path(p, data: :upvote) %>
    <%= p.votes.count %>
    <%= button_to 'downvote', vote_post_path(p, data: :downvote) %>

    <%= link_to p.title, [@reddit, p] %>
    <%= link_to 'Delete', [p.reddit, p], method: :delete if can? :delete, @reddit %>
  </p>
<% end %>
<%= link_to 'Back', reddits_path %>
