<h1><%= @reddit.title %></h1>
<p>
  New post <br>
  <%= link_to 'Create post', new_reddit_post_path(@reddit) %>
</p>
<% @reddit.posts.each do |p| %>
  <p>
    <%= link_to p.title, [@reddit, p] %>
    <%= link_to 'Delete', [p.reddit, p], method: :delete %>
  </p>
<% end %>
<%= link_to 'Back', reddits_path %>
