<%= show_author(@post) %> <br>
<%= @post.body %>

<h2> Add a comment: </h2>
<%= form_for ([@post, @comment]) do |f| %>
  <p>
    <%= f.label :body %> <br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<% @post.comments.each do |c| %>
  <% if c.user && show_author(c) != PostsHelper::ANONYMOUS_USER %>
    <%= link_to show_author(c), user_path(c.user) %>
  <% else %>
    <%= PostsHelper::ANONYMOUS_USER %>:
  <% end %>
  <%= c.body %> <br>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Back', reddit_path(@reddit) %>
