<h2><%= @post.title %></h2>
<p>
  <%= button_to 'upvote', vote_post_path(@post, data: :upvote) %>
  <%= @post.votes.count %>
  <%= button_to 'downvote', vote_post_path(@post, data: :downvote) %>
</p>
<%= show_author(@post) %> <br>
<%= @post.body %>

<h2> Add a comment: </h2>
<%= form_for ([@post, @comment]) do |f| %>
  <p>
    <%= f.label :body %> <br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<% @post.comments.each do |c| %>
  <!-- TODO: remove comment with id = nil -->
  <% if c.valid? %>
    <p>
      <%= button_to 'upvote', vote_comment_path(c, data: :upvote) %>
      <%= c.votes.count %>
      <%= button_to 'downvote', vote_comment_path(c, data: :downvote) %>
    </p>
  <% end %>
  <% if c.user && show_author(c) != PostsHelper::ANONYMOUS_USER %>
    <%= link_to show_author(c), user_path(c.user) %>
  <% else %>
    <%= PostsHelper::ANONYMOUS_USER %>:
  <% end %>
  <%= c.body %> <br>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Back', reddit_path(@post.reddit) %>
